body {
    font-family: sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #000000cd;
}

.container {
    max-width: 1000px;
    margin: 5em auto;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0px 0px 50px 10px rgba($color: #000000, $alpha: 0.1);

    .item {
        margin-bottom: 1em;
    }
}

.button {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #000000cd;
    transition: all 0.2s;

    &:hover {
       background-color: #000000cd;
       color: #fff; 
    }

    &:active {
        transform: scale(0.95);
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}